@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://source.unsplash.com/1920x1080/?landscape");
  font-family: "Open Sans", sans-serif;
}
.caixa-maior {
  background: rgba(68, 0, 122, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  width: 95%;
  max-width: 420px;
  padding: 20px;
  border-radius: 25px;
}

input {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 24px;
  font-size: 20px;
  background-color: #670882;
  color: #ffffff;
  width: 80%;
}
input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.search {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #670882;
  float: right;
  cursor: pointer;
  width: 15%;
}

.search:hover {
  background-color: #4a075d;
  transition: 0.4s;
}
p {
  color: #fff;
  margin-top: 20px;
  text-transform: capitalize;
}
h1 {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 440px) {
  h1 {
    font-size: 1.4rem;
  }
}
.temperatura {
  text-align: center;
  font-size: 3rem;
}
.temp_box {
  display: flex;
  justify-content: center;
}
.desc_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.desc_box p {
  margin: 0;
  padding: 5px;
}
.border_wind {
  height: 17px;
  width: 7px;
  background-color: #09ca53;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.border_humidity {
  height: 17px;
  width: 7px;
  background-color: #0918f0;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.wind_humidity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
p.vento,
p.umidade {
  margin: 0;
}

span.wind_text,
span.humidity_text {
  margin-left: 15px;
  color: #fff;
  font-size: medium;
  position: absolute;
}
i {
  margin-right: 10px;
}
.rise_set {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.sunset,
.sunrise {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sunset p,
.sunrise p {
  margin: 0;
  text-transform: none;
  padding: 5px;
}
.sunrise img {
  margin: auto;
}
p.descricao {
  display: flex;
  align-items: center;
  gap: 10px;
}
.max_min {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 20%;
  padding: 10px 0 20px 0;
}
.max,
.min {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.max h2,
.min h2 {
  margin: 0;
  padding: 5px;
  color: #fff;
  font-weight: 400;
}
.temp_max img,
.temp_min img {
  margin-right: 5px;
}
@media (max-width: 350px) {
  i.fa-wind {
    display: none;
  }
}
